framework:
    cache:
    # optional but recommended
    # prefix_seed: '%env(APP_NAME)%'

when@prod:
    framework:
        cache:
            app: cache.adapter.redis
            default_redis_provider: '%env(resolve:REDIS_URL)%'

when@dev:
    framework:
        cache:
            app: cache.adapter.filesystem

when@test:
    framework:
        cache:
            app: cache.adapter.filesystem
